body{
    margin: 0;
    padding: 0;
}

.header-img{
    height: 500px;
    width: 600px;
    object-fit: cover;
}
.page-title{
    text-align: center;
    background: #24bdeb;
    margin: 10px;
    border-radius: 50%;
    padding: 10px;
}